---
import type { GetStaticPaths } from "astro";
import { sanityClient } from "sanity:client";
import RootLayout from "../../layouts/RootLayout.astro";
import { ArtistsQuery } from "../../groq";
import { urlForImage } from "../../sanity/urlForImage";
import { PortableText } from "astro-portabletext";

export const getStaticPaths = (async () => {
  const artists = await sanityClient.fetch<ArtistsQuery>(ArtistsQuery);

  return artists.map((artist, index) => {
    const prev = index === 0 ? artists[artists.length - 1] : artists[index - 1];

    const next = artists.length === index + 1 ? artists[0] : artists[index + 1];

    return {
      params: { slug: artist.slug.current },
      props: {
        artist,
        prev: prev.slug.current,
        next: next.slug.current,
      },
    };
  });
}) satisfies GetStaticPaths;

// const { slug } = Astro.params;

const { artist, prev, next } = Astro.props;

const url = urlForImage(artist.coverImage).url();
const webpUrl = urlForImage(artist.coverImage).format("webp").url();
---

<RootLayout title={`${artist.name} | Oxmose`} description={artist.overview}>
  <div class="border-b border-black px-9 lg:px-10">
    <h1 class="text-oxe-xxl-mobile/[60px] lg:text-oxe-xxl/[96px]">
      {artist.name}
    </h1>
  </div>

  <div
    class="flex h-10 items-center justify-between border-b border-black px-9 lg:px-10"
  >
    <a href={`/artists/${prev}`} class="text-oxe-sm font-medium uppercase">
      Prev
    </a>

    <a href={`/artists/${next}`} class="text-oxe-sm font-medium uppercase">
      Next
    </a>
  </div>

  <div class="grid grid-cols-2 divide-x divide-black">
    <div class="p-10">
      <picture class="mb-10 block">
        <source srcset={webpUrl} type="image/webp" />
        <img
          class="aspect-[16/10] w-full max-w-4xl object-cover object-center"
          alt={artist.name}
          src={url}
          loading="lazy"
          decoding="async"
        />
      </picture>

      <div
        class="prose text-black prose-p:text-oxe-md prose-a:text-black prose-a:underline prose-strong:font-medium"
      >
        <PortableText value={artist.body} />
      </div>
    </div>

    <div class="grid grid-rows-[minmax(max-content,50svh)] p-10">
      <div class="grid grid-cols-[max-content,1fr] gap-4">
        <div class="mt-1 size-5 rounded-full border border-black bg-black">
        </div>

        <div>
          <h3 class="text-[35px]/[32px] font-medium uppercase">Release</h3>

          <a href="/">
            <article class="text-oxe-sm/[32px]">
              <header>
                <h3>Quandary</h3>
                <p>#OXE 005</p>
              </header>

              <footer>
                <time datetime="2020">2020</time>
              </footer>
            </article>
          </a>
        </div>
      </div>

      <div class="grid grid-cols-[max-content,1fr] gap-4">
        <div class="mt-1 size-5 rounded-full border border-black bg-white">
        </div>

        <div>
          <h3 class="text-[35px]/[32px] font-medium uppercase">More</h3>

          <ul class="text-oxe-sm/[32px]">
            {
              artist.links?.map((link) => (
                <li>
                  <a href={link.href}>{link.name}</a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</RootLayout>
