---
import type { GetStaticPaths } from "astro";
import { sanityClient } from "sanity:client";
import RootLayout from "../../layouts/RootLayout.astro";
import { ArtistsQuery } from "../../groq";

export const getStaticPaths = (async () => {
  const artists = await sanityClient.fetch<ArtistsQuery>(ArtistsQuery);

  return artists.map((artist, index) => {
    const prev = index === 0 ? artists[artists.length - 1] : artists[index - 1];

    const next = artists.length === index + 1 ? artists[0] : artists[index + 1];

    return {
      params: { slug: artist.slug.current },
      props: {
        artist,
        prev: prev.slug.current,
        next: next.slug.current,
      },
    };
  });
}) satisfies GetStaticPaths;

// const { slug } = Astro.params;

const { artist, prev, next } = Astro.props;
---

<RootLayout title={`${artist.name} | Oxmose`} description={artist.overview}>
  <div class="border-b border-black px-9 sm:px-10">
    <h1 class="text-oxe-xxl-mobile/[60px] sm:text-oxe-xxl/[96px]">
      {artist.name}
    </h1>
  </div>

  <div
    class="flex h-10 items-center justify-between border-b border-black px-9 sm:px-10"
  >
    <a href={`/artists/${prev}`} class="text-oxe-sm font-medium uppercase">
      Prev
    </a>

    <a href={`/artists/${next}`} class="text-oxe-sm font-medium uppercase">
      Next
    </a>
  </div>
</RootLayout>
