---
import { sanityClient } from "sanity:client";
import { AboutQuery } from "../groq";
import { PortableText } from "astro-portabletext";
import RootLayout from "../layouts/RootLayout.astro";
import CreditArticle from "../components/CreditArticle.astro";

const page = await sanityClient.fetch<AboutQuery>(AboutQuery);
---

<RootLayout title={`${page.title} | Oxmose`} description={page.overview}>
  <h1 hidden>{`${page.title} | Oxmose`}</h1>

  <section
    class="flex min-h-[56rem] items-center border-b border-black p-9 lg:p-10"
  >
    <div class="text-oxe-md lg:text-oxe-xxl/[85px]">
      <PortableText value={page.part1} />
    </div>
  </section>

  <section
    class="min-h-[56rem] divide-black border-b border-black p-9 lg:grid lg:grid-cols-2 lg:divide-x lg:p-0"
  >
    <div class="mb-5 space-y-5 lg:mb-0 lg:space-y-10 lg:p-10">
      {page.part2.left.map((credit) => <CreditArticle credit={credit} />)}
    </div>

    <div class="space-y-5 lg:space-y-10 lg:p-10">
      {page.part2.right.map((credit) => <CreditArticle credit={credit} />)}
    </div>
  </section>

  <section
    class="flex min-h-[56rem] items-center border-b border-black p-9 lg:p-10"
  >
    <div class="text-oxe-md lg:text-oxe-xxl/[85px]">
      <PortableText value={page.part3} />
    </div>
  </section>

  <section
    class="min-h-[56rem] divide-black border-b border-black p-9 lg:grid lg:grid-cols-2 lg:divide-x lg:p-0"
  >
    <div class="mb-5 space-y-5 lg:mb-0 lg:space-y-10 lg:p-10">
      {page.part4.left.map((credit) => <CreditArticle credit={credit} />)}
    </div>

    <div class="space-y-5 lg:space-y-10 lg:p-10">
      {page.part4.right.map((credit) => <CreditArticle credit={credit} />)}
    </div>
  </section>

  <section
    class="flex min-h-[56rem] items-center border-b border-black p-9 lg:p-10"
  >
    <div class="text-oxe-md lg:text-oxe-xxl/[85px]">
      <PortableText value={page.part5} />
    </div>
  </section>

  <section class="min-h-[56rem] p-9 lg:p-10"></section>
</RootLayout>
