---
import { sanityClient } from "sanity:client";
import { ContactQuery } from "../groq";
import { PortableText } from "astro-portabletext";
import RootLayout from "../layouts/RootLayout.astro";

const page = await sanityClient.fetch<ContactQuery>(ContactQuery);
---

<RootLayout title={`${page.title} | Oxmose`} description={page.overview}>
  <h1 hidden>{`${page.title} | Oxmose`}</h1>

  <section
    class="flex min-h-96 flex-col border-b border-black p-9 lg:min-h-[30rem] lg:p-10"
  >
    <h2 class="mb-4 text-oxe-md lg:mb-10 lg:text-oxe-xxl">
      {page.generalSection.title}
    </h2>

    <div class="text-oxe-sm lg:text-oxe-lg">
      <PortableText value={page.generalSection.content} />
    </div>

    <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
      <a href={page.generalSection.link.href}>
        {page.generalSection.link.name}
      </a>
    </p>
  </section>

  <section
    class="flex min-h-96 flex-col gap-12 divide-black border-b border-black p-9 lg:grid lg:min-h-[32rem] lg:grid-cols-2 lg:gap-0 lg:divide-x lg:p-0"
  >
    <div class="grid grid-cols-2 lg:p-10">
      <h3 class="text-oxe-md lg:text-oxe-xxl">Listen</h3>

      <ul class="lg:list-inside lg:list-disc lg:self-end">
        {
          page.listenLinks.map((link) => (
            <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="grid grid-cols-2 lg:p-10">
      <h3 class="text-oxe-md lg:text-oxe-xxl">Follow</h3>

      <ul class="lg:list-inside lg:list-disc lg:self-end">
        {
          page.followLinks.map((link) => (
            <li class="whitespace-nowrap text-oxe-sm lg:text-oxe-lg">
              <a href={link.href}>{link.name}</a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <section
    class="flex min-h-96 flex-col border-b border-black p-9 lg:min-h-[30rem] lg:p-10"
  >
    <h2 class="mb-4 text-oxe-md lg:mb-10 lg:text-oxe-xxl">
      {page.demoSection.title}
    </h2>

    <div class="text-oxe-sm lg:text-oxe-lg">
      <PortableText value={page.demoSection.content} />
    </div>

    <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
      <a href={page.demoSection.link.href}>
        {page.demoSection.link.name}
      </a>
    </p>
  </section>

  <section
    class="divide-y divide-black border-b border-black lg:grid lg:grid-cols-2 lg:divide-x lg:divide-y-0"
  >
    <div
      class="flex min-h-96 flex-row p-9 lg:min-h-[32rem] lg:flex-col lg:p-10"
    >
      <h3 class="flex-1 text-oxe-md lg:flex-auto lg:text-oxe-xxl">Location</h3>

      <div
        class="flex flex-1 flex-col justify-between gap-10 lg:mt-auto lg:flex-initial lg:flex-row"
      >
        <dl>
          <dt class="text-oxe-sm font-medium lg:text-oxe-lg">Headquarters</dt>
          <dd class="text-oxe-sm lg:text-oxe-lg">Paris</dd>
        </dl>

        <dl>
          <dt class="text-oxe-sm font-medium lg:text-oxe-lg">Office/Studio</dt>
          <dd class="text-oxe-sm lg:text-oxe-lg">Bucharest</dd>
        </dl>
      </div>
    </div>

    <div class="flex min-h-96 flex-col p-9 lg:min-h-[32rem] lg:p-10">
      <h3 class="text-oxe-md lg:text-oxe-xxl">{page.pressKit.name}</h3>

      <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
        <!-- @todo Convert to download link -->
        <a href={page.pressKit.href}>download</a>
      </p>
    </div>
  </section>

  <section class="flex min-h-96 flex-col p-9 lg:min-h-[30rem] lg:p-10">
    <h2 class="mb-4 text-oxe-md lg:mb-10 lg:text-oxe-xxl">
      {page.syncSection.title}
    </h2>

    <div class="text-oxe-sm lg:text-oxe-lg">
      <PortableText value={page.syncSection.content} />
    </div>

    <p class="mt-auto text-right text-oxe-md lg:text-oxe-xxl">
      <a href={page.syncSection.link.href}>
        {page.syncSection.link.name}
      </a>
    </p>
  </section>
</RootLayout>
