---
import { sanityClient } from "sanity:client";
import { FAQsQuery } from "../groq";
import RootLayout from "../layouts/RootLayout.astro";

import { PortableText } from "astro-portabletext";

const faqs = await sanityClient.fetch<FAQsQuery>(FAQsQuery);
---

<RootLayout title="FAQ | Oxmose" mainClassName="flex flex-col">
  <h1 hidden>FAQ | Oxmose</h1>

  <script type="module">
    function closeAllTabs() {
      document.querySelectorAll("[data-tab-content]").forEach((el) => {
        el.removeAttribute("data-tab-active");
      });
    }

    document.querySelectorAll("[data-tab]").forEach((el) => {
      el.addEventListener("click", () => {
        closeAllTabs();

        const tabId = el.getAttribute("data-tab");

        const tab = document.querySelector(`[data-tab-content="${tabId}"]`);

        tab.toggleAttribute("data-tab-active");
      });
    });

    document.querySelectorAll("[data-accordion-header]").forEach((el) => {
      el.addEventListener("click", () => {
        const tabId = el.getAttribute("data-accordion-header");

        const tab = document.querySelector(`[data-tab-content="${tabId}"]`);

        tab.toggleAttribute("data-tab-active");
      });
    });
  </script>

  <style>
    .tab-vertical-header {
      @apply px-10 text-oxe-xxl/[96px] last:!border-b last:border-black;
    }
    .tab-header {
      @apply block w-full px-9 text-left text-oxe-xxl-mobile/[60px] lg:hidden;
    }
    .tab-content {
      @apply hidden p-9 data-[tab-active]:block lg:p-10;
    }
  </style>

  <div class="flex-1 lg:grid lg:grid-cols-2 lg:divide-x lg:divide-black">
    <ul class="hidden divide-y divide-black lg:block">
      {
        faqs.map((faq) => (
          <li class="tab-vertical-header">
            <button class="text-left" data-tab={faq.slug.current}>
              {faq.category}
            </button>
          </li>
        ))
      }
    </ul>

    <div
      class="divide-y divide-y-reverse divide-black first:*:!border-b first:*:border-black"
    >
      {
        faqs.map((faq) => (
          <>
            <button class="tab-header" data-accordion-header={faq.slug.current}>
              {faq.category}
            </button>

            <article
              data-tab-content={faq.slug.current}
              class="tab-content space-y-9 text-oxe-sm lg:space-y-10"
            >
              {faq.questions.map((qa) => (
                <div class="space-y-4">
                  <h4 class="-mb-4 font-medium">{qa.question}</h4>

                  <PortableText value={qa.answer} />
                </div>
              ))}
            </article>
          </>
        ))
      }
    </div>
  </div>
</RootLayout>
